.tag{
    margin-top: 10px;
    background-color: #fa8c16;
    color: white;
    width: 100%;
    min-height:60px;

}
.tag-control{
    position: absolute;
    top: 0px;
    right: 0px;
}

.tag-control span{
    margin: 2px 5px;
    cursor: pointer;
}
.tag-control span:hover{
    color:blue;
}
.content{
    margin-top: 8x
}